---
import "../styles/about.scss";
import Marquee from "./Marquee.astro";
import Card from "./Card.astro";
import Bio from "./Bio.astro";

const marqueeItems = [
  "ᕕ( ᐛ )ᕗ",
  "SELECTED WORKS",
  "♪┏(・o･)┛♪",
  "SELECTED WORKS",
  "╰( ͡°ʖ ͡°)つ──☆*:・ﾟ",
  "SELECTED WORKS",
  "(つ▀¯▀)つ",
  "SELECTED WORKS",
  "٩(◕‿◕)۶",
  "SELECTED WORKS",
  "＼(^o^)／",
  "SELECTED WORKS",
];

const cardWidth = "calc(100% / 3 - 3 * 2rem)";

const cards = [
  {
    title: "gait",
    subtitle: "Side project",
    description:
      "CLI tool for reviewing code changes using LLMs. Built with Python's Typer library and OpenAI API.",
    width: cardWidth,
    links: [{ icon: "github", href: "https://github.com/can-taslicukur/gait" }],
  },
  {
    title: "Health Equity Explorer",
    subtitle: "BMC - Appsilon",
    description:
      "Shiny application designed to enable users to explore health equity data in a way that can be easily shared across common data models.",
    width: cardWidth,
    links: [
      {
        icon: "seminar",
        href: "https://youtu.be/bOuCisfRqdg?si=7HOvNIP3GQhbknui",
      },
      { icon: "paper", href: "https://pubmed.ncbi.nlm.nih.gov/38690224/" },
    ],
  },
  {
    title: "tefasr",
    subtitle: "Side Project",
    description:
      "R package for getting historical data of public investment funds in Turkey.",
    width: cardWidth,
    links: [
      {
        icon: "github",
        href: "https://github.com/can-taslicukur/tefasr",
      },
    ],
  },
  {
    title: "deepOCEAN",
    subtitle: "24Saatteis",
    description:
      "Multimodal Convolutional Neural Network for Big Five (OCEAN) personality trait prediction from video interviews.",
    width: cardWidth,
    links: [],
  },
  {
    title: "ISCO Similarity",
    subtitle: "24Saatteis",
    description:
      "Job similarity engine using vector space modeling and cosine similarity to cluster ISCO job titles based on real-world data.",
    width: cardWidth,
    links: [],
  },
];
---

<section id="about">
  <div class="about__bio">
    <Bio />
  </div>
  <div class="about__projects">
    <Marquee items={marqueeItems} />
    <div class="about__projects__cards">
      {
        cards.map(({ title, subtitle, description, width, links }) => (
          <Card
            title={title}
            subtitle={subtitle}
            description={description}
            width={width}
            links={links}
          />
        ))
      }
    </div>
  </div>
</section>
